@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color, #4F46E5);
  --color-secondary: var(--secondary-color, #10B981);
}

:root {
  --primary-color: #4F46E5;
  --secondary-color: #10B981;
}
